          <% @comments.each do |comment| %>
            <li class="clearfix" id="comment<%=comment.id%>">
              <span class="name"><%= link_to comment.user.name,comment.user %></span>
              <span><%=comment.comment%></span>
            </li>
          <%end%>
          
          