          <% @comments.each do |comment| %>
            <li class="clearfix">
	              <span class="name"><%= link_to comment.user.name,comment.user %></span>
	              <span><%=comment.comment%></span>
	              <% if comment.user == current_user %>
	              <span class="control"><%= link_to '', comment,class:"glyphicon glyphicon-remove",method: :delete,remote: true%></span>
	              <% end %>
	         </li>
          <%end%>
          
          